body {
	background-color: ;
}

header {
	background-color: peachpuff;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	padding: 5px;
}

main {
	text-align: center;
}

form div {
	margin: 10px;
}

#submit-button {
	color: black;
	background-color: lightblue;
	font-weight: bold;
	padding: 10px;
}
